 html{
    font-size: 10px;
 }
 body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

header {
    background-color: #fff;
   
}

.top-bar {
    display: flex;
    justify-content: space-between;
    /* padding: 10px 20px; */
     padding: 1.5em; 
    background-color: #f4f4f4;
    /* font-size: 14px; */
    font-size: 1.5rem; 
 

}

.top-bar ul {
    list-style: none;
    display: flex;
}

.top-bar ul li {
    /* margin-right: 20px; */
    margin-right: 1.3em;
}

.right-links {
    margin-right: 1.3em;
    /* margin-right: 20px; */

    margin-top: 1em;
    /* margin-top: 15px; */
  
}

.right-links a{
    /* margin-right: 20px; */
    margin-right: 1.3em;
  
}

.right-links {
    position: relative; 
}

.top-bar .top-links {
    position: relative;
}

.top-bar .top-links  li {
    position: relative;
}

.top-bar .top-links  li::after {
    content: '';
    display: block;
    height: 2px; 
    width: 0; 
    background-color: #ff003c; 
    transition: width 0.3s ease; 
    position: absolute;
    bottom: 1px; 
    left: 0; 
}

.top-bar .top-links  li:hover::after {
    width: 100%; 
}


.to-use-before {
    background-color:#a2d2ff ;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0; 
    transition: opacity 0.3s ease, transform 0.3s ease; 
}



.right-links button {
    background-color: #caf0f8;
    border: none;
    /* padding: 20px; */
    padding: 1.5em;
    border-radius: 10px;
    width: 100px;
    height: 70px;
    position: relative;
    z-index: 1; 

}

.right-links button::before {
    content: '';
    background-color: #a2d2ff;
   
    width: 100px;
    height: 70px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0; 
    transition: opacity 0.3s ease, transform 0.3s ease; 
     transform: scale(0.8);  
}

.right-links button:hover::before {
    opacity: 1; 
    transform: scale(1); 
}


.right-links button a{

    font-weight: bold;
}



.top-bar a {
    text-decoration: none;
    color: #333;
}

.logo-nav {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    padding: 2em;
   
    
   
}

.logo {
 
    font-weight: bold;
    color: #333;

}

.logo a{
    font-weight: bold;
    text-decoration: none;
    color: #333;
    /* font-size: 40px; */
    font-size: 4rem;
}


.logo .fa-arrow-right {
    font-size: 150%;
    color: #caf0f8;
    transition: transform 0.4s, color 0.4s; 
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.logo .fa-arrow-right:hover {
    transform-origin: left;
    transform: scaleX(1.5); 
    color: #90e0ef;
}





nav {
    text-align: right;
    background-color: #fff;
    width: 100%;
    height: 10rem;
    
   
}
nav img{
    position: absolute;
    left: 0;
    margin-top: 1rem;
    margin-left: 5%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

nav ul li {
    margin-left: 2em;
}

nav ul.nav-links li a:hover {
    color: #ff003c;
}

.logo-nav{
    background-color: #fff;
    
}







nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 2rem;
}

.hent{
    position: relative;
}

 .hent-content {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
} 
.hent h2{
    font-family: "Clicker Script", cursive;
    color: rgb(255, 32, 32);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
    left: 10rem;
    padding-bottom: 1rem;
    
}
.hent h1 {
    /* font-size: 48px; */
    font-size: 4.8rem;
    /* margin-bottom: 10px; */
    margin-bottom: 1rem;
}




.hent p {
    /* font-size: 18px; */
    font-size: 1.8rem;
    /* margin-bottom: 20px; */
    margin-bottom: 2rem;
}


.hent a {
    color: #fff !important;
    text-decoration: none;
    background-color: #292621;
    padding: 1.5rem 4.7rem;
    font-weight: bold;
    display: inline-block; 
    margin-right: 15rem; 
    margin-top: 4rem;
    font-family: "Yellowtail", system-ui;
    font-size: 2rem;
}
.hent a:hover{
    transform: scale(1.3);
    background-color: rgba(255, 0, 0, 0.5);
}


.white-space{
    background-color: white;
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 7%;
   
   
}
.white-space h2{
    background-color: white;
    padding: 0;
    margin-bottom: 2.5rem;
    border: 0;
    text-align: center;
    /* font-size: 60px; */
    font-size: 6rem;
    color: black;
    font-weight: 500;
    line-height: 1.4;
    font-family: "Edu VIC WA NT Beginner", cursive;
}
/* from here  */


.image-container {
    display: inline-block;
    position: relative;
    margin: 0 1rem;
    width: 25rem; 
    height: 25rem; 
   
  }
  
  .white-space img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

.white-space img:hover {
    transform: scale(1.3);
}

.icone-for-img {
    position: absolute;
    left: 58%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 100px;
    height: 30px;
    display: none;
    text-align: center;
    padding: 1rem;
}

.icone-for-img .fa-solid {
    margin-left: 1rem;
    color: black;
    font-size: 1.5rem;
}

.image-container:hover .icone-for-img {
    display: block; 
}



.white-space #img1{
    margin-left: 5rem;
    position: relative;
 }
.white-space #img2{
   /* margin-left: 20px; */
   margin-left: 5rem;
}
.white-space #img3{
    margin-left: 5rem;
 }
 .white-space #img4{
    margin-left: 5rem;
 }


.numbers{
    margin-right: 15%;

}
.white-space ul li{
    display: inline-block;
    font-weight: bold;
    font-size:300%;
    margin-left: 15%;
    /* margin-top: 40px; */
    margin-top: 4rem;
    font-family: "Josefin Sans", sans-serif;
    color: #003566;
    
}


  
  

  .testimonial-area{
    margin-top: 11%;
    /* background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%); */
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    width: 80%;
    height: 40rem;

  
    padding: 1.5rem;
 
    margin-left: 14rem;
    position: relative;
 
  }

  .testimonial{
    text-align: center;
    
    
  }
  .testimonial-area .testimonial h2{
    font-size: 34px;
    font-weight: 500;
    color: #292621;
    
    margin-bottom: 4rem;
    font-family: "Jost", sans-serif;
  }
  .testimonial-area .testimonial p{
    font-family: "Jost", sans-serif;
   
 
    font-size: 3rem;
  }
 
  .founder-img img{
vertical-align: middle;
   
  }



  .border-btn {
    color: black;
 
    text-decoration: none;
    border-radius: 6px;
  
    padding: 1.2rem 3.5rem; 
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    transition: color 0.4s linear;
    overflow: hidden;
    border: 1px solid #90dbf4;
    margin-left: 42%;
  
    margin-top: 3rem;
    
}

.border-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(162, 210,255, 0.5);
    
    z-index: 0;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.3s ease; 

    
   
}


.border-btn:hover::before {
    transform: scaleY(1);
    opacity: 1; 
  
}


.latest-news{
    background-color: #F6F6F6;
    padding-top: 8rem;
    padding-bottom: 2.9rem;
    margin-top: 15rem;

    padding: 1rem;
    width: 100%;
}
.latest-news h2{
    font-size: 34px;
    display: block;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 22px;
    font-family: "Jost", sans-serif;
    color: #292621;
    text-align: center;
}

.latest-news img{
    width: 350px;
    height: 200px;
    margin: 2rem;
    padding: 1rem; 
   
   
}

.latest-news span{
    color: #74706B;
    margin-bottom: 1.1rem;
    display: block;
    font-size: 1.5rem;
    margin-left: 4rem;
}

.latest-news a{
    text-decoration: none;
    font-size: 2.2rem;
    line-height: 1.4;
    margin-bottom: 12px;
    font-weight: 500;
    display: block;
    color: #292621;
    margin-left: 4rem;

}
.latest-news a:hover{
    color: #ff003c;
}

.latest-news p{
    font-family: "Jost", sans-serif;
    color: #74706B;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.6;
    margin-left: 4rem;
}

.latest-news .read{
    color: #292621;
    font-family: "Jost", sans-serif;
    text-decoration: underline;
    margin-left: 4rem;
    transition: all .3s ease-out 0s;

}

.latest-news .read:hover{
    color: #292621;
    transform: scaleX(1.1); 
    transform-origin: left;
    
}

.latest-news div{
    display: inline-block;
    width: 30%;
}

.icons{
    margin-top: 8rem;
    width: 100%;
    color: #fff;
   
    display: flex;
   
    


}
.icons h2{
    
    color: #292621;
}
.icons div{
   
    margin-left: 13rem;
}
.icons div p{
    font-size: 1.5rem;
    color: #74706B;
}

.icons div {
    padding-left: 1.5rem;
    border-left: 1px solid #ccc; 
}

.icons > div:first-child{
    padding-left: 0;
    border-left: none;
}

footer {
    box-sizing: border-box;
    margin-top: 4rem;
    width:100%;
  
    
    background-color: black; 
    padding: 1rem; 
    position: relative;
   
}

footer .right-sec{
    color: #fff;
    margin-left: 8rem;

}

footer .right-sec h2{
    font-family: "Jost", sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 12px;
}

footer .right-sec p{
    font-family: "Jost", sans-serif;
    font-size: 1.6rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
}

footer .center{
    display: flex;
}
footer .center input{
    padding: 2rem;
    width: 25rem;
    border: #fff;
    position: absolute;
    top: 1rem;
    
    margin-left: 45rem;
   
   
}
footer .center input::placeholder {
    color: black;
}

footer .center button{
    position: absolute;
    top: 1rem;
    margin-left: 75rem;
    background-color: #ff003c;
    color: #fff;
    padding: 2rem;
    border: #ff003c;
    
}

footer .right-icons{
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2rem;
    margin-right: 4rem;
    font-size: 2.5rem;
    gap: 2rem;
}

footer .top-sec{
    padding-bottom: 4rem;
    margin-bottom: 6rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}
 
footer .bottom-sec img{
    margin-left: 6rem;

}

footer .bottom-sec  h2{
    color: #fff;
    font-family: "Jost", sans-serif;
}


footer .footer-sheets{
    display: flex;
    
    gap: 30px;
    padding: 10px;
}

.footer-sheets> div {
    flex: 1;
    padding: 15px;

}
.footer-sheets ul li a {
    color: #BBB9B5;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease-out;
    display: inline-block;
}

.footer-sheets ul li a:hover {
    text-decoration: underline;
    transform-origin: left;
    transform: scaleX(1.1);
}

.footer-sheets{
    padding-bottom: 6rem;
    margin-bottom: 10rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
    padding-top: 60px;
    
}

footer #bot{
    color: #BBB9B5;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2;
    text-align: center;
}
footer #bot i{
    color: #ff003c;
}

footer #back-top{
    color: #ff003c;
    font-size: 4rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2.2rem;
    margin-right: 3rem;

}

.top-bar .fa-angles-down{
    display: none;
}

/* Responsive Mobile Screen */


 /* for medium!!!!!!!!! */

 @media (max-width: 768px) {
    .top-bar {
        font-size: 0.6rem;
        width: 100%;
        height: auto;
    }

    .top-bar .fa-angles-down {
        display: block;
        font-size: 1.2rem;
        cursor: pointer; 
    }

    .top-bar .top-links,
    .top-bar .right-links {
        display: none; 
    }

    .top-bar ul {
        margin-right: 1rem;
        padding: 0; 
        list-style-type: none; 
    }

    .top-bar ul li {
        display: inline-block;
        margin-top: 1.5rem;
        
    }

    .top-bar ul li a {
        margin: 0 0.5rem;
        text-decoration: none; 
    }

    .top-bar .top-links li::after {
        top: 1.2rem;
    }

    .top-bar .right-links {
        font-size: 0.6rem;
        margin-right: 1.5rem;
    }

    .top-bar .right-links a {
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-bar .right-links button {
        font-size: 0.5rem;
        padding: 0.7rem;
        width: 30%; 
        height: 35px;
    }

    .top-bar .right-links button::before {
        width: 100%;
        height: 35px;
    }

    /* for nav */

    nav {
        text-align: center; 
        height: auto; 
        padding: 1.5em 0; 
    }
    
    nav img {
        position: static; 
        margin: 1.5rem auto; 
        max-width: 80%; 
    }

    nav ul {
        flex-direction: column;
        align-items: center; 
        padding: 0; 
        margin: 0; 
        display: none;
    }

    nav ul li {
        margin: 1rem 0; 
    }

    nav a {
        font-size: 1.7rem; 
    }

    /* for hent */

    .hent img{
      
        max-width: 100%;
        position: relative;
    }

    .hent-content{
        bottom: 1%;
    }

    .hent h2{
        font-size: 1.2rem;
    }

    .hent h1{
        font-size: 2.5rem;
    }

    .hent p{
        font-size: 1.2rem;
        margin-right: 8%;
    }

    .hent a{
        padding: 1.2rem;
        margin-right: 8%;
        margin-top:  40px;
       
        
    }

    .hent a:hover{
        transform: scale(0.6);
        background-color: rgba(255, 0, 0, 0.6);
    }

    /* for white space */
    .white-space {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 1rem;
    }
    
    .white-space h2 {
        width: 100%;
        text-align: center; 
        margin-bottom: 2rem; 
    }
    
    .white-space img {
        flex: 0 0 calc(50% - 1rem); 
        max-width: 100%;
        margin-bottom: 1.5rem;
        box-sizing: border-box;
    }
    

    .testimonial-area{
       
        max-width: 100%;
        margin-left: 10%;
    }

    .testimonial-area .testimonial h2{
        font-size: 1.2rem;
    }

    .testimonial-area .testimonial p{
        font-size: 1.2rem;
    }

    .border-btn{
        padding: 1.2rem;
        right: 4%;
        font-size: 1.2rem;
    }

    /* for latestNews */

    .latest-news img{
        display: flex;
        flex-direction: row;
        max-width: 100%;
    }

    /* for icons */
    .icons{
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between; 
        max-width: 100%; 
    }

    /* for footer */

    footer {
        padding: 1.2rem;
    }

    footer .right-sec {
        margin-left: 0;
        text-align: center;
    }

    footer .right-sec h2 {
        font-size: 2rem;
    }

    footer .right-sec p {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    footer .center {
        flex-direction: column;
        align-items: center;
    }

    footer .center input {
        width: 100%;
        margin-left: 0;
        padding: 1.2rem;
        position: static;
        margin-bottom: 1.2rem;
    }

    footer .center button {
        width: 100%;
        margin-left: 0;
        padding: 1.2rem;
        position: static;
    }

    footer .right-icons {
        justify-content: center;
        margin: 2rem auto 0;
        gap: 1rem;
        position: static;
    }

    footer .top-sec {
        padding-bottom: 2rem;
        margin-bottom: 3rem;
    }

    footer .bottom-sec img {
        margin-left: 0;
        display: block;
        margin: 0 auto 2rem;
    }

    footer .bottom-sec h2 {
        text-align: center;
        font-size: 1.8rem;
    }

    .footer-sheets {
        flex-direction: column;
        gap: 1rem;
        padding: 0;
    }

    .footer-sheets > div {
        padding: 1rem 0;
        text-align: center;
    }

    .footer-sheets ul li a {
        font-size: 15px;
    }

    footer #bot {
        font-size: 1.5rem;
        padding: 1rem 0;
    }

    footer #back-top {
        font-size: 3.5rem;
        justify-content: center;
        margin-bottom: 1rem;
    }
}

/* for large!!!! */
@media (max-width: 992px) {
    /* Top Bar */
    .top-bar {
        font-size: 1rem;
        width: 100%;
        height: auto;
    }

    .top-bar .fa-angles-down {
        display: block;
        font-size: 1.5rem;
        cursor: pointer; 
    }

    .top-bar ul {
        margin-right: 1rem;
        padding: 0; 
        list-style-type: none;
    }

    .top-bar ul li {
        display: inline-block;
        margin-top: 0.5rem;
    }

    .top-bar ul li a {
        margin: 0 0.5rem;
        text-decoration: none; 
    }

    .top-bar .right-links {
        font-size: 1rem;
        margin-right: 2rem;
    }

    .top-bar .right-links a {
        margin-left: 1rem;
        text-decoration: none;
    }

    .top-bar .right-links button {
        font-size: 0.8rem;
        padding: 0.75rem;
        width: 15%;
        height: 40px;
    }

    .top-bar .right-links button::before {
        width: 100%;
        height: 40px;
    }

    /* Navigation */
    nav {
        text-align: right;
        height: auto;
        padding: 2em 0;
    }
    
    nav img {
        position: static;
        margin: 1rem 0;
        max-width: 100%;
    }

    nav ul {
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
    }

    nav ul li {
        margin: 0 1rem;
    }

    nav a {
        font-size: 2rem;
    }

    /* Hent */
    .hent img {
        max-width: 100%;
    }

    .hent-content {
        bottom: 1%;
    }

    .hent h2 {
        font-size: 1.5rem;
    }

    .hent h1 {
        font-size: 3rem;
    }

    .hent p {
        font-size: 1.5rem;
        margin-right: 5%;
    }

    .hent a {
        padding: 1.5rem;
        margin-right: 5%;
        margin-top: 5%;
    }

    .hent a:hover {
        transform: scale(1.1);
        background-color: rgba(255, 0, 0, 0.7);
    }

    /* White Space */
    .white-space {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }
    
    .white-space img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }

    .white-space h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }


.numbers{
   display: flex;
   margin-left: 29%;

}

    /* Testimonial Area */
    .testimonial-area {
        max-width: 100%;
        margin: 0;
        margin-left: 10%;
    }

    .testimonial {
        margin: 0;
    }

    .testimonial-area .testimonial h2 {
        font-size: 1.5rem;
    }

    .testimonial-area .testimonial p {
        font-size: 1.5rem;
    }

    .border-btn {
        padding: 1.5rem;
        right: 5%;
        font-size: 1.5rem;
    }

    /* Latest News */
    .latest-news img {
        display: flex;
        flex-direction: row;
        max-width: 100%;
    }

    /* Icons */
    .icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
    }

    /* Footer */
    footer {
        padding: 2rem;
    }

    footer .right-sec {
        margin-left: 2rem;
        text-align: left;
    }

    footer .right-sec h2 {
        font-size: 2.4rem;
    }

    footer .right-sec p {
        font-size: 1.8rem;
        line-height: 1.6;
    }

    footer .center {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    footer .center input {
        width: 40%;
        margin-left: 2rem;
        padding: 1rem;
        position: static;
        margin-bottom: 0;
    }

    footer .center button {
        width: 20%;
        margin-left: 1rem;
        padding: 1rem;
        position: static;
    }

    footer .right-icons {
        justify-content: flex-end;
        margin: 2rem 0 0;
        gap: 2rem;
        position: static;
    }

    footer .top-sec {
        padding-bottom: 3rem;
        margin-bottom: 4rem;
    }

    footer .bottom-sec img {
        margin-left: 2rem;
        display: block;
        margin: 0 auto 2rem;
    }

    footer .bottom-sec h2 {
        text-align: center;
        font-size: 2rem;
    }

    .footer-sheets {
        flex-direction: row;
        gap: 2rem;
        padding: 0;
    }

    .footer-sheets > div {
        padding: 2rem 0;
        text-align: left;
    }

    .footer-sheets ul li a {
        font-size: 1.6rem;
    }

    footer #bot {
        font-size: 1.8rem;
        padding: 2rem 0;
    }

    footer #back-top {
        font-size: 4rem;
        justify-content: flex-end;
        margin-bottom: 2rem;
    }
}

/* for XL */
@media (max-width: 1200px) {
    /* Top Bar */
    .top-bar {
        font-size: 1.25rem;
        width: 100%;
        height: auto;
    }

    .top-bar .fa-angles-down {
        display: block;
        font-size: 1.75rem;
        cursor: pointer; 
    }

    .top-bar ul {
        margin-right: 1.5rem;
        padding: 0; 
        list-style-type: none;
    }

    .top-bar ul li {
        display: inline-block;
        margin-top: 0.5rem;
    }

    .top-bar ul li a {
        margin: 0 1rem;
        text-decoration: none; 
    }

    .top-bar .right-links {
        font-size: 1.25rem;
        margin-right: 2.5rem;
    }

    .top-bar .right-links a {
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-bar .right-links button {
        font-size: 1rem;
        padding: 1rem;
        width: 15%;
        height: 45px;
    }

    .top-bar .right-links button::before {
        width: 100%;
        height: 45px;
    }

    /* Navigation */
    nav {
        text-align: right;
        height: auto;
        padding: 2.5em 0;
    }
    
    nav img {
        position: static;
        margin: 1.5rem 0;
        max-width: 100%;
    }

    nav ul {
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
    }

    nav ul li {
        margin: 0 1.5rem;
    }

    nav a {
        font-size: 2.5rem;
    }

    /* Hent */
    .hent img {
        max-width: 100%;
    }

    .hent-content {
        bottom: 1%;
    }

    .hent h2 {
        font-size: 1.75rem;
    }

    .hent h1 {
        font-size: 3.5rem;
    }

    .hent p {
        font-size: 1.75rem;
        margin-right: 5%;
    }

    .hent a {
        padding: 2rem;
        margin-right: 5%;
        margin-top: 5%;
    }

    .hent a:hover {
        transform: scale(1.1);
        background-color: rgba(255, 0, 0, 0.7);
    }

    /* White Space */
    .white-space {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1.5rem;
    }
    
    .white-space img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .white-space h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .numbers {
        display: flex;
        justify-content: space-between; 
        
        width: 100%; 
        margin-left: 35%; 
    }
    

    /* Testimonial Area */
    .testimonial-area {
        max-width: 100%;
        margin: 0;
        margin-left: 10%;
    }

    .testimonial {
        margin: 0;
    }

    .testimonial-area .testimonial h2 {
        font-size: 1.75rem;
    }

    .testimonial-area .testimonial p {
        font-size: 1.75rem;
    }

    .border-btn {
        padding: 2rem;
        right: 5%;
        font-size: 2rem;
    }

    /* Latest News */
    .latest-news img {
        display: flex;
        flex-direction: row;
        max-width: 100%;
    }

    /* Icons */
    .icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
    }

    /* Footer */
    footer {
        padding: 2.5rem;
    }

    footer .right-sec {
        margin-left: 2.5rem;
        text-align: left;
    }

    footer .right-sec h2 {
        font-size: 2.8rem;
    }

    footer .right-sec p {
        font-size: 2rem;
        line-height: 1.6;
    }

    footer .center {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    footer .center input {
        width: 45%;
        margin-left: 2.5rem;
        padding: 1.5rem;
        position: static;
        margin-bottom: 0;
    }

    footer .center button {
        width: 25%;
        margin-left: 1.5rem;
        padding: 1.5rem;
        position: static;
    }

    footer .right-icons {
        justify-content: flex-end;
        margin: 2.5rem 0 0;
        gap: 2.5rem;
        position: static;
    }

    footer .top-sec {
        padding-bottom: 3.5rem;
        margin-bottom: 4.5rem;
    }

    footer .bottom-sec img {
        margin-left: 2.5rem;
        display: block;
        margin: 0 auto 2.5rem;
    }

    footer .bottom-sec h2 {
        text-align: center;
        font-size: 2.2rem;
    }

    .footer-sheets {
        flex-direction: row;
        gap: 2.5rem;
        padding: 0;
    }

    .footer-sheets > div {
        padding: 2.5rem 0;
        text-align: left;
    }

    .footer-sheets ul li a {
        font-size: 1.8rem;
    }

    footer #bot {
        font-size: 2rem;
        padding: 2.5rem 0;
    }

    footer #back-top {
        font-size: 4.5rem;
        justify-content: flex-end;
        margin-bottom: 2.5rem;
    }
}

/* for XXL */

@media (max-width: 1400px) {
    /* Top Bar */
    .top-bar {
        font-size: 1.2rem;
        width: 100%;
        height: auto;
    }

    .top-bar .fa-angles-down {
        display: block;
        font-size: 2rem;
        cursor: pointer; 
    }

    .top-bar ul {
        margin-right: 1.5rem;
        padding: 0; 
        list-style-type: none;
        text-align: center;
    }

    .top-bar ul li {
        display: inline-block;
        margin-top: 0.5rem;
        
    }

    .top-bar ul li a {
        margin: 0 0.75rem;
        text-decoration: none; 
       
    }

    .top-bar .right-links {
        font-size: 1.2rem;
        margin-right: 2.5rem;
    }

    .top-bar .right-links a {
        margin-left: 1.2rem;
        text-decoration: none;
        max-width: 100%;
    }

    .top-bar .right-links button {
        font-size: 1rem;
        padding: 1rem;
        max-width: 100%;
        height: 45px;
    }

    .top-bar .right-links button::before {
       max-width: 100%; 
        height: 45px;
    }

    /* Navigation */
    nav {
        text-align: right;
        height: auto;
        padding: 2.5em 0;
    }
    
    nav img {
        position: static;
        margin: 1rem 0;
        max-width: 100%;
        vertical-align: middle;
        left: 0;
    }

    nav ul {
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
        display: flex;
      
    }

    nav ul li {
        margin: 0 1.5rem;
        
    }

    nav a {
        font-size: 2.2rem;
        margin-right: 10%;
        text-align: center;
    }

    /* Hent */
    .hent img {
        max-width: 100%;
    }

    .hent-content {
        bottom: 1%;
    }

    .hent h2 {
        font-size: 1.8rem;
    }

    .hent h1 {
        font-size: 3.5rem;
    }

    .hent p {
        font-size: 1.8rem;
        margin-right: 5%;
    }

    .hent a {
        padding: 2rem;
        margin-right: 5%;
        margin-top: 5%;
    }

    .hent a:hover {
        transform: scale(1.2);
        background-color: rgba(255, 0, 0, 0.8);
    }

    /* White Space */
    .white-space {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1.5rem;
    }
    
    .white-space img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }

    .white-space h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    /* Numbers */
    .numbers {
        display: flex;
        justify-content: space-between;
        margin-left: 40%;
        max-width: 100%;
        
    }

    /* Testimonial Area */
    .testimonial-area {
        max-width: 100%;
        margin: 0;
        margin-left: 10%;
    }

    .testimonial {
        margin: 0;
    }

    .testimonial-area .testimonial h2 {
        font-size: 1.8rem;
    }

    .testimonial-area .testimonial p {
        font-size: 1.8rem;
    }

    .border-btn {
        padding: 1.8rem;
     
        margin-right: 10%;
        font-size: 1.8rem;
        
    }

    /* Latest News */
    .latest-news img {
        display: flex;
        flex-direction: row;
        max-width: 100%;
    }

    /* Icons */
    .icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
    }

    /* Footer */
    footer {
        padding: 2.5rem;
    }

    footer .right-sec {
        margin-left: 2.5rem;
        text-align: left;
    }

    footer .right-sec h2 {
        font-size: 2.6rem;
    }

    footer .right-sec p {
        font-size: 2rem;
        line-height: 1.8;
    }

    footer .center {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    footer .center input {
        width: 40%;
        margin-left: 2rem;
        padding: 1.2rem;
        position: static;
        margin-bottom: 0;
    }

    footer .center button {
        width: 20%;
        margin-left: 1rem;
        padding: 1.2rem;
        position: static;
    }

    footer .right-icons {
        justify-content: flex-end;
        margin: 2.5rem 0 0;
        gap: 2.5rem;
        position: static;
    }

    footer .top-sec {
        padding-bottom: 3.5rem;
        margin-bottom: 4.5rem;
    }

    footer .bottom-sec img {
        margin-left: 2.5rem;
        display: block;
        margin: 0 auto 2.5rem;
    }

    footer .bottom-sec h2 {
        text-align: center;
        font-size: 2.2rem;
    }

    .footer-sheets {
        flex-direction: row;
        gap: 2.5rem;
        padding: 0;
    }

    .footer-sheets > div {
        padding: 2.5rem 0;
        text-align: left;
    }

    .footer-sheets ul li a {
        font-size: 1.8rem;
    }

    footer #bot {
        font-size: 2rem;
        padding: 2.5rem 0;
    }

    footer #back-top {
        font-size: 4.5rem;
        justify-content: flex-end;
        margin-bottom: 2.5rem;
    }
}

/* for mobile */

@media (max-width: 576px) {
 
    body {
      font-size: 14px;
    }
  
    /* Top Bar */
    .top-bar {
      padding: 10px 0;
      font-size: 12px;
    }
  
    .top-bar .fa-angles-down {
      display: block;
    }
  
    .top-bar .top-links,
    .top-bar .right-links {
      display: none;
    }
  
    .top-bar ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  
    .top-bar ul li {
      display: inline-block;
      margin-right: 10px;
    }
  
    .top-bar ul li a {
      text-decoration: none;
    }
  
    .top-bar .right-links a {
      margin-left: 10px;
    }
  
    .top-bar .right-links button {
      font-size: 10px;
      padding: 5px 10px;
    }
  
    /* Navigation */
    nav {
      text-align: center;
      padding: 20px 0;
    }
  
    nav img {
      max-width: 80%;
      margin-bottom: 20px;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0;
    }
  
    nav ul li {
      margin-bottom: 10px;
    }
  
    nav a {
      font-size: 16px;
    }
  
    /* Hent */
    .hent img {
      max-width: 100%;
    }
  
    .hent-content {
      bottom: 5%;
    }
  
    .hent h2 {
      font-size: 0.5rem;
      top: 0;
      
    }
  
    .hent h1 {
      font-size: 1rem;
      margin-top: 10%;
      
    }
  
    .hent p {
      font-size: 0.8rem;
      margin-right: 5%;
      overflow: hidden;
    }
  
    .hent a {
      padding: 10px 20px;
      margin-right: 5%;
      margin-top: 5%;
    }
  
    .hent a:hover {
      transform: scale(0.8);
      background-color: rgba(255, 0, 0, 0.6);
    }
  
    /* White Space */
    .white-space {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
    }
  
    .white-space img {
      flex: 0 0 calc(50% - 5px);
      max-width: 100%;
      margin-bottom: 20px;
      box-sizing: border-box;
    }
  
    .white-space h2 {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      font-size: 1rem;
    }
  
    /* Testimonial Area */
    .testimonial-area {
      max-width: 100%;
      margin: 0;
      margin-left: 5%;
    }
  
    .testimonial {
      margin: 0;
    }
  
    .testimonial-area .testimonial h2 {
      font-size: 16px;
    }
  
    .testimonial-area .testimonial p {
      font-size: 16px;
    }
    .numbers{
        margin-left: 10%;
    }
  
    .border-btn {
      padding: 10px 20px;
      font-size: 14px;
      max-width: 100%;
    }
  
    /* Latest News */
    .latest-news img {
      max-width: 100%;
    }
  
    /* Icons */
    .icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 100%;
    }
  
    /* Footer */
    footer {
      padding: 20px;
    }
  
    footer .right-sec {
      margin-left: 0;
      text-align: center;
    }
  
    footer .right-sec h2 {
      font-size: 20px;
    }
  
    footer .right-sec p {
      font-size: 16px;
      line-height: 1.4;
    }
  
    footer .center {
      flex-direction: column;
      align-items: center;
    }
  
    footer .center input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
    }
  
    footer .center button {
      width: 100%;
      padding: 10px;
    }
  
    footer .right-icons {
      justify-content: center;
      margin: 20px auto 0;
      gap: 10px;
    }
  
    footer .top-sec {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  
    footer .bottom-sec img {
      display: block;
      margin: 0 auto 20px;
    }
  
    footer .bottom-sec h2 {
      text-align: center;
      font-size: 18px;
    }
  
    .footer-sheets {
      flex-direction: column;
      gap: 10px;
      padding: 0;
    }
  
    .footer-sheets > div {
      padding: 10px 0;
      text-align: center;
    }
  
    .footer-sheets ul li a {
      font-size: 12px;
    }
  
    footer #bot {
      font-size: 16px;
      padding: 10px 0;
    }
  
    footer #back-top {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }